{
  "presets": [["@babel/preset-react", { "runtime": "automatic" }]],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["js", "jsx"],
        "plugins": ["line-numbers"],
        "theme": "tomorrow",
        "css": true
      }
    ]
  ]
}
