.article-container {
  blockquote {
    word-break: break-word;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  img {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
