// Imported styles
@import '~bootswatch/dist/journal/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/journal/bootswatch';

// Component styles
@import 'components/articleContainer';
@import 'components/coloree/colorPicker';
@import 'components/coloree/colorSolver';
@import 'components/palette/swatch';
@import 'components/sudoku/cell';
@import 'components/mahjong/tile';
@import 'components/trivia/game';

// Fix for carousel button alignment
.carousel {
  &-control-prev {
    left: -20px;
  }

  &-control-next {
    right: -20px;
  }
}

// Dark mode
.light-mode {
  background-color: $body-bg;
  color: $dark;
  transition: background-color 0.3s ease;
}

.dark-mode {
  background-color: $gray-900;
  color: $body-bg;

  .card {
    background-color: $gray-700;
    color: $body-bg;
  }

  .table {
    th,
    td {
      color: $body-bg;
    }

    th {
      background-color: $gray-800;
    }

    td {
      background-color: $gray-700;
    }
  }
}

// Remove border on last row in a table
.table > tbody tr:last-child > td {
  border-bottom: none;
}
